@charset "UTF-8";
.filter_wrap{
	position: sticky;
	top: 0px;
	left: 0px;
	height: 200px;
	width: 300px;
	background-color: aqua;
}

h2 {
	text-align: center;
	font-size: 36px;
	margin: 15px 0;
}

.category_list {
	width: 600px;
	margin: 0 auto;
}
.category_list ul {
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.category_list ul li{
	font-size: 26px;
	list-style: none;
}

.contents_header {
	border-bottom: 1px solid black;
	overflow: hidden;
}

.contents_header select {
	float: right;
	margin : 5px 0
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 100px;
  background-color: blue;
}

.contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contents .item {
	margin: 10px 0;
	width: 290px;
	border: 1px solid rgb(211, 211, 211);
}
.contents .item img{
	width: 290px;
}

.contents .item > div {
	padding: 0 10px;
}
.contents .item .brand_title {
	font-weight: bold;
	margin-bottom: 6px;
}

.contents .item .product_title {
	font-size: 14px;
	color: rgb(77, 77, 77);
	margin-bottom: 12px;
}

.contents .item .price {
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: bold;
}
